.color {
    background-color: orange;
}
h1 {
    text-align: center;
    border: 2px solid rgb(11, 121, 155);
    width: auto;
    height: auto;
}
h2{
    font-size: 20px;
}
.design {
    border: 1px solid rgb(11, 121, 155);
    color: rgb(11, 121, 155);
    padding: 5px;
    background-color: rgba(0,0,0,0);
}
.design:hover {
    color:white;
    background-color: rgb(11, 121, 155);
}
hr{
    background-color: rgb(11, 121, 155);
    height: 1px;
}
p {
    text-align: center;
}